* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    /* background-color: cadetblue;*/
}

.container{
    height: 100%;
    /* background-color: lemonchiffon;*/
}


header{
    height: 100%;
    width: 20%;
    padding: 10px;
    float: left;
    /* background-color: teal;*/
}

main{
    height: 100%;
    width: 80%;
    float: left;
    /* background-color: rgb(101, 196, 180);*/
}

.left{
    height: 100%;
    width: 50%;
    float: left;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: rgb(47, 128, 0);*/
}

.right{
    height: 100%;
    width: 50%;
    float: left;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: rgb(138, 177, 115);*/
}

.head{
    height: 5%;
    width: 100%;
    /*background-color: rgb(230, 228, 138);*/
    padding-left: 15px;
    padding-right: 15px;
}

.text{
    height: 70%;
    width: 100%;  
    /*background-color: rgb(228, 188, 10);*/
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    overflow-y: scroll;
}

.text-head{
    color: rgb(2, 15, 29);
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
}

.text-note{
    color: rgb(2, 15, 29);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: right;
}

.subtitle{
    color: rgb(3, 26, 51);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: right;
}

p{
    color: rgb(3, 26, 51);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: justify;
}